*{
    width: 100%;
    margin:0px auto ;
    padding: 0px auto; 
    overflow: hidden;
} /* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #111;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.login-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #222;
  color: #fff;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-form button {
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #ddd;
}
